div.hero {
	height: calc(75vh);
	display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: #394146;
}
div.hero svg {
	padding: 16px;
	width: 65vw;
	height: auto;
}
div.hero > div {
	transform: rotate(-6deg) translateY(-16px);
	background: #D1D3D3;
	animation: sign 1s ease-out;
}
header a:first-child {
	display: none;
}
.hero h1 {
	color: #fff;
	padding: 32px;
	font-size: 2.5em;
}


div.main-container {
	margin: 16px 0;
	width: 100%;
	display: flex;
  align-items: start;
  justify-content: space-around;
}

.main-container p  {
	margin: 32px auto;
	text-align: justify;
	max-width: 700px;
	width: 90%;
}

.main-container h2, .main-container h1 {
	text-align: center;
}
.column-container {
	transition: 0.3s;
	width: calc(91vw / 3);
	display: inline-block;
	margin: 16px auto;
	background: #E7E7E7;
}
.column-container img {
	width: 90%;
	display: block;
	margin: auto;
}
iframe {
	display: block;
	margin: auto;
	width: 90%;
	height: 450px;
}

ul {
	border-left: 5px solid black;
	list-style: none;
}
li {
	margin: 8px 0;
	font-size: 1.2em;
}
.main-container a:link, .main-container a:visited {color: #3F3F3F;}
.main-container a:hover {color: #000000;}
.main-container a:active {color: #000000;}



@media only screen and (min-width: 320px) and (max-width: 760px) {
	div.main-container {
		flex-direction: column;
	}
	.column-container {
		width: 90vw;
	}
}

@media only screen and (min-width: 760px) {
	.column-container:hover {
		transform: scale(1.05, 1.05);
	}
}

@media only screen and (min-width: 1000px) {
}


@keyframes sign {
	0% {
		transform: rotate(0deg) translateY(-100vh);
	}
	100% {
		transform: rotate(-6deg) translateY(-16px);
	}
}