div.hero {
	height: calc(90vh - 63px);
	display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
div.hero > div {
	transform: rotate(-8deg);
}

.hero h1 {
	color: #F600F1;
	padding: 32px;
	font-size: 2.5em;
}


div.main-container {
	margin: 32px 0;
	width: 100%;
}

.main-container img {
	display: block;
	margin: 32px;
	width: calc(100% - 64px);
	height: auto;
}

.main-container p  {
	margin: 32px auto;
	text-align: justify;
	max-width: 700px;
	width: 90%;
}

.main-container h2 {
	text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
}

@media only screen and (min-width: 760px) {
}

@media only screen and (min-width: 1000px) {
}