/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
	box-sizing: border-box;
}

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection { color:#da2931; text-shadow: none;}
::selection { color:#da2931; text-shadow: none;}
img::-moz-selection { background:#da2931; text-shadow: none;}
img::selection { background:#da2931; text-shadow: none;}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* universal stylings */

body, html {
	min-height: 100vh;
	background: #E0E0E0;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}
a {
	transition: 0.3s;
}
.vert-center {
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* header and nav themes */

header {
	font-family: 'Montserrat', sans-serif;
  	/*blue-grey*/
  /* background: #394146; */
  	/*flat grey*/
  /* background: #333; */
  	/*headband purple*/
  /* background: #5A3439; */
  	/*pink*/
  /* background: #F9619F; */
  	/*center sky blue*/
  /* background: #5F74AA; */
  	/*lighter, dusty pink*/
  /* background: #DD697D; */
  	/*orange*/
	/* background: #da2931; */
  	/*red 1*/
	/* background: #da2931; */
  	/*red 3*/
	/* background: #CC102F; */
  	/*red 5*/
	/* background: #F04F4F; */
  	/*red 6*/
	background: #da2931;
	/* background: #91010d; */
	/* background: #ba0d1b; */
	/* background: #4f0201; */
  	/*red 7*/
	/* background: #DF2A35; */
  	/*dark red*/
	/* background: #890C02; */
		/*apple orange*/
	/* background: #F84F00; */
		/*muted dark blue*/
	/* background: #355C7D; */
		/*muted dark purple*/
	/* background: #6C5B7B; */
		/*pink*/
	/* background: #F67280; */
}
header a {
	font-size: 1.4em;
	font-weight: lighter;
	margin: 0;
	text-decoration: none;
	font-family: 'Arvo', serif;
	font-weight: bold;
}
header a:link, header a:visited {color: #fff;}
header a:hover {color: #DCDCDC;}
header a:active {color: #DCDCDC;}

header a.button-title {
	display: inline-block;
	float: left;
  text-align: center;
  -webkit-transform: rotate(-6deg) translateY(6px);
          transform: rotate(-6deg) translateY(6px);
  background: inherit;
  -webkit-animation: sign 1s ease-out;
          animation: sign 1s ease-out;
  margin-left: 1em;
  border: 3px solid inherit;
  border-radius: 6px;
  z-index: 20000;
  max-width: 200px;
}
header a.button-title svg {
  margin: 0;
  width: 90%;
  height: auto;
}
header a.button-title h1 {
  color: #fff;
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 0.67em;
}

/* dropdown thing!!! from https://toddmotto.com/html5-and-jquery-super-simple-drop-down-nav/ */

nav {display: inline-block;background:inherit;}
nav ul {padding:0;margin: 0;text-align:center;z-index: 10000;background:inherit;}
nav ul li {float:left;display:inline;background:inherit;}
nav ul li:hover {}
nav ul li a {display:block;padding:15px 25px;color:#444;}
nav ul li ul {position:absolute;width:200px;background:inherit;}
nav ul li ul li {width:100%;}
nav ul li ul li a {display:block;padding:15px 10px;color:#444;}
nav ul li ul li:hover a {}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}

.logos-header {
	display: inline-block;
	float: right;
	margin-right: 16px;
}
.logos-header img {
	height: 36px;
	margin: 8px;
}
.logos-header svg {
	height: 36px;
	display: inline-block;
}

/* .main-container themes */

.main-container h1, h2, h3 {
	font-family: 'Arvo', serif;
	text-align: center;
	margin: 1em auto;
}

.main-container h1 {font-size: 3.2em;}
.main-container h2 {font-size: 2.2em;}
.main-container h3 {font-size: 1.8em;}

.main-container a:link, .main-container a:visited {color: #555555;}
.main-container a:hover {color: #333;}
.main-container a:active {color: #333;}
.main-container a {text-decoration: underline;}

p {
	width: 90%;
	max-width: 700px;
	font-size: 1.35em;
	line-height: 160%;
	margin: 16px auto;
}
p.blurb {
	margin: 16px auto;
	text-align: center;
	background: #fff;
	border: 16px solid white;
	border-radius: 8px;
}
p.indent {text-indent: 2em;}

.main-container img {
	border-radius: 8px;
}

/* footer themes */

footer {
	width: 100%;
	height: 200px;
}
footer div {
	margin: 16px;
}


/* featherlight universal themes */

.featherlight .featherlight-content {
	margin: auto;
	border-radius: 8px;
}

.featherlight img {
	max-width: 90vw;
}



@media only screen and (min-width: 320px) and (max-width: 760px) {
	header a.button-title {
		width: 100%;
		margin-top: 16px;
	}
	header a {
		font-size: 1.2em;
	}
	nav ul li a {
		padding:12px 16px;
	}
}

@media only screen and (min-width: 760px) {

}

@media only screen and (min-width: 1000px) {
	header a.button-title h1 {
		font-size: 1.1em;
	}
}

/* Cross-page media query template! */
/*@media only screen and (min-width: 320px) and (max-width: 760px) {
}

@media only screen and (min-width: 760px) {
}

@media only screen and (min-width: 1000px) {
}
*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
