.about {
	background: #fff;
	width: 700px;
	border: 16px solid #fff;
	border-radius: 6px;
	margin: auto;
}
p {
	width: 100%;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}

.grid-container {
	max-width: 1200px;
	width: 90%;
	margin: auto;
	text-align: center;
}
.person-container {
	margin: 8px;
	background: #fff;
	border: 8px solid #fff;
	border-radius: 6px;
	display: inline-block;
	text-align: center;
}
.person-container img {
	width: 100%;
}


@media only screen and (min-width: 320px) and (max-width: 760px) {
	.person-container {
		width: calc(50% - 16px);
	}

}

@media only screen and (min-width: 760px) {
	.person-container {
		width: calc(20% - 16px);
	}
}

@media only screen and (min-width: 1000px) {

}
