.item {
/* 	margin: 8px; */
/* 	width: calc((100% / 3) - (64px / 3)); */
/* 	height: auto; */
/* 	display: inline-block; */
	text-align: center;
/* 	vertical-align: top; */
}
.main-container img {
	width: 100%;
}
.main-container img:hover {
	cursor: zoom-in;
}
.item span {
	padding: 4px;
	position: relative;
	top: -2em;
	background: #eee;
	border-radius: 6px;
	opacity: 0;
	transition: 0.3s;
	margin: auto;
}
.item span a {
	text-decoration: none;
}
.item:hover span {
	opacity: 1;
}

@media only screen and (max-width: 760px) {
	.main-container div {
/* 		margin: 16px auto;
		max-width: 100%;
		width: 90%;
		height: auto;
		display: block;
 */	}
}

@media only screen and (min-width: 760px) {

}

@media only screen and (min-width: 1000px) {
	
}
