.main-container {
	display: flex;
	align-items: start;
}
.column-container {
	width: calc((100vw / 3) - 32px);
	display: inline-block;
	padding: 16px;
}
.column-container:nth-child(2) {
	background: #394146;
	color: #fff;
}
.column-container p {
	text-align: justify;
}
svg {
	padding: 8px;
}
h1, h2 {
	text-align: center;
}