.main-container h1 {
	text-align: center;
}
.main-container section {
	margin: 32px auto;
	width: 90%;
	max-width: 760px;
	background: #fff;
	border: 32px solid #fff;
	border-radius: 6px;
}
.main-container img {
	width: 100%;
	margin: 32px auto;
}
.main-container a {
	font-size: 1.2em;
}