.full-top {
	width: 100%;
	height: 95vh;
}
.full-top svg {
	width: 100%;
	margin: auto;
	padding: 16px;
	z-index: 100;
}
.full-top > div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#same-difference {
	text-align: center;
	width: 100%;
	color: #fff;
	font-size:4em;
}
#arrow-down {
	font-size:6em;
	position: absolute;
	bottom: 10%;
	color: #fff;
	margin: auto;
	text-align: center;
	width: 100%;
	font-size: 4em;
	animation: v-bounce 1s alternate infinite;
	animation-timing-function: ease-out;
}
section {
	width: 100%;
	max-width: 100%;
	font-size: 2.6em;
}
section .image-fixed {
	height: 90vh;
}
section .text-container {
	left: 60%;
	width: 30%;
}
section a {
	width: 100%;
	height: 100%;
	display: block;
}
.image-fixed {
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.text-container {
	background: #fff;
	position: relative;
	left: 90%;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	border: 16px solid white;
	border-radius: 8px;
}
.text-container h1 {
	margin: 0;
	font-size: 1.2em;
}


line {
  animation-name: pop-in;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  opacity: 0;
}
#stroke-10 {animation-delay: 2s;}
#stroke-11 {animation-delay: 2.2s;}
#stroke-12 {animation-delay: 2.4s;}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	section .text-container {
		left: 50%;
		top: 70%;
		transform: translateX(-50%) translateY(0);
		width: 80%;
	}
	.image-fixed {
		background-attachment: initial;
	}
	.full-top {
		background-attachment: initial;
	}
	#same-difference {
		font-size: 3em;
	}


}

@media only screen and (min-width: 768px) {
	section .text-container {
		left: 52.5%;
		width: 45%;
	}
}

@media only screen and (min-width: 1000px) {
	section .text-container {
		left: 60%;
		width: 30%;
	}
}



@keyframes pop-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@keyframes v-bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-16px);
  }
}