.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
}
.main-container div {
	margin: 16px;
	width: calc((100vw / 3) - 32px);
	height: auto;
	display: inline-block;
}
.main-container img {
	width: 100%;
	height: auto;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
}