.hero {
	display: flex;
}
h1, h2 {
	text-align: center;
}
h1 {
	font-size: 4em;
}
.carousel {
	margin: 32px auto;
	display: block;
	width: 90%;
}
.carousel img {
	width: 100%;
	height: auto;
}
svg {
	display: block;
	margin: 32px auto;
	padding: 8px;
	height: 100px;
	width: auto;
}