.img-flex-sub {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 16px;
}
.main-container img {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
	-webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	        align-self: auto;
	max-height: 80vh;
}
.main-container img:hover {
	cursor: zoom-in;
}
.img-flex-sub div {
	background: #fff;
	border: 16px solid #fff;
	border-radius: 8px;	
}
.img-flex-sub p {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: auto;
	width: 100%;
	max-width: 700px;
}
.main-container h1, .main-container h2 {
	text-align: center;
}




@media only screen and (min-width: 320px) and (max-width: 760px) {
	.img-flex-sub {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.img-flex-sub img {
		margin-bottom: 32px;
		width: 100%;
		max-height: initial;
	}
}

@media only screen and (min-width: 760px) {
	.img-flex-sub:nth-child(2n) {
		-webkit-flex-direction: row-reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
	.img-flex-sub:nth-child(2n - 1) img {
		width: auto;
		max-width: 50vw;
	}
	.img-flex-sub:nth-child(2n) img {
		width: auto;
		max-width: 50vw;
	}
	.img-flex-sub:nth-child(2n - 1) a {
		margin-left: auto;
	}
	.img-flex-sub:nth-child(2n) a {
		margin-right: auto;
	}
	.img-flex-sub p {
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		width: calc(50vw - 64px);
		padding: 16px;
		text-align: justify;
	}
	.img-flex-sub:nth-child(2n - 1) div {
		margin-left: -16px;	
		margin-right: auto;
	}
	.img-flex-sub:nth-child(2n) div {
		margin-right: -16px;
		margin-left: auto;
	}



}

@media only screen and (min-width: 1000px) {
	
}