.photo-container {
	display: inline-block;
	margin-left: auto;
}
.photo-container img {
	border-radius: 8px;
	width: auto;
	height: auto;
	max-height: 700px;
}
.img-flex-sub {
	align-items: center;
	display: flex;
	width: 100%;
	margin: 32px auto;
}
.text-content {
	border-radius: 8px;
	background: #fff;
	border: 8px solid #fff;
	position: relative;
	left: -32px;
	display: inline-block;
	width: 40%;
}

.main-container p {
	margin: auto;
	/*font-size: 1.4em;*/
	text-align: justify;
}

.main-container a h2 {
	font-size: 1.7em;
}

.featherlight-content {
	border-radius: 8px;
}
.featherlight p {
	margin: 16px auto;
	text-indent: 2em;
	text-align: justify;
}
.featherlight p:last-child {
	margin-bottom: 32px;
}
.featherlight img {
	width: 100%;
	max-width: 700px;
	margin-bottom: 16px;
	border-radius: 8px;
}
.featherlight h1 {
	text-align: center;
}
.main-container h1, .main-container h2 {
	text-align: center;
}




@media only screen and (max-width: 760px) {
	.main-container p {
		padding: 0 32px;
	}
	.img-flex-sub {
		flex-direction: column;
	}
	.text-content {
		border-radius: 8px;
		background: #fff;
		border: 8px solid #fff;
		position: initial;
		display: block;
		margin: 16px auto;
		width: 90%;
	}
	.photo-container {
		max-width: 90%;
		display: block;
		margin: auto;
	}
	.photo-container img {
		border-radius: 8px;
		width: auto;
		max-width: 100%;
		height: auto;
	}


}

@media only screen and (min-width: 760px) {



}

@media only screen and (min-width: 1000px) {
	
}
/*background-position: center;background-attachment: fixed;background-repeat: no-repeat;background-size: cover;*/
