.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
}
.main-container div {
	margin: 16px;
	width: 500px;
	max-width: 90%;
	height: auto;
	display: inline-block;
	text-align: center;
}
.main-container img {
	width: 100%;
	height: auto;
	background: #fff;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
}